#map {
    height: 90vh;
    width: 80%;
    margin-bottom: 10px;
    position: relative;
    float: right;
}

#button-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    z-index: 1000;
    height: 87vh;
    width: 6%;
    background-color: rgb(239, 231, 231);
    transition: width 0.3s ease;
    padding: 10px;
    align-items: flex-start;
}

#button-container.expanded {
    width: 17%;
}

#button-group {
    display: flex;
    margin-bottom: 20px;
}

#location-button {
    background-color: yellow;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    font-size: 35px;
    margin-right: 10px;
}

#toggle-button {
    display: none;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

#arrow-toggle {
    position: absolute;
    top: 50%;
    right: -15px;
    width: 30px;
    height: 30px;
    background-color: #007bff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
    z-index: 1001;
    transition: right 0.3s ease;
}

#button-container.expanded #arrow-toggle {
    right: -20px;
}

#arrow-toggle:hover {
    background-color: #0056b3;
}

#cities-list {
    display: none;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: rgb(239, 231, 231);
}

#cities-list ul {
    list-style-type: none;
    padding: 0;
}

#cities-list li {
    margin: 5px 0;
    cursor: pointer;
    color: rgb(85, 171, 224);
    font-weight: bold;
    font-size: 16px;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#cities-list li:hover {
    background-color: rgba(85, 171, 224, 0.2);
}

.delhi-info {
    position: absolute;
    right: -400px;
    top: 0;
    width: 400px;
    height: 100vh;
    background-color: rgb(85, 204, 225);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: right 0.3s ease;
}


