#map {
    height: 90vh;
    width: calc(100% - 17%);
    margin-bottom: 10px;
    position: relative;
    float: right;
}

#button-container {
    display: flex;
    flex-direction: column;
    z-index: 1000;
    width: 6%;
    background-color: #a8afbe;
    padding: 10px;
    align-items: flex-start;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 10px;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    clear: both;
}

.slider-line {
    flex-basis: 80%;
    height: 4px;
    background-color: rgba(0, 123, 255, 0.3);
    margin: 0 5px;
    border-radius: 2px;
}

.slider-icon {
    cursor: pointer;
    font-size: 24px;
    user-select: none;
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(0, 123, 255, 0.3);
    transition: background-color 0.3s ease;
}

.slider-icon:hover {
    background-color: rgba(0, 123, 255, 0.5);
}

.slider-icon::before {
    content: ''; 
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    background-color: rgba(0, 123, 255, 0.3);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 0;
}

.slider-icon:hover::before {
    opacity: 1;
}

#button-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    z-index: 1000;
    height: 90vh;
    width: 6%;
    background-color: #a8afbe;
    transition: width 0.3s ease;
    padding: 10px;
    align-items: flex-start;
    box-sizing: border-box;
    overflow: hidden;
}

#button-container.expanded {
    width: 17%;
}

#button-group {
    display: flex;
    margin-bottom: 20px;
}

#location-button {
    background-color: yellow;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    font-size: 35px;
    margin-right: 10px;
}

#toggle-button {
    display: none;
    background-color: yellow;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

#arrow-toggle {
    position: absolute;
    top: 50%;
    right: 1px;
    width: 30px;
    height: 30px;
    background-color: #007bff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
    z-index: 1001;
    transition: right 0.3s ease;
}

#button-container.expanded #arrow-toggle {
    right: 1px;
}

#arrow-toggle:hover {
    background-color: #0056b3;
}

#cities-list {
    display: none;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: #a8afbe;
}

#cities-list ul {
    list-style-type: none;
    padding: 0;
}

#cities-list li {
    margin: 5px 0;
    cursor: pointer;
    color: rgb(13, 92, 141);
    font-weight: bold;
    font-size: 16px;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#cities-list li:hover {
    background-color: rgba(222, 236, 34, 0.475);
}

.hidden {
    display: none;
}

.visible {
    display: block;
}
